.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
  }
  
  html, body {
    background-color: #ffeead;
    margin: 10px;
    height: 100%;   /*it helps in making flexbox responsive in terms of height otherwise 100% height will have no effect and the items will take the height equal to the container only*/
    padding: 10px;
    box-sizing: border-box;
  }
  
  .container > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .container > div:nth-child(3) {
    background-color: #88d8b0;
  }
  
  .container > div:nth-child(4) {
    background-color: #ff6f69;
  }