#list{
    background-color:#534f4fcd;
}
#blog{
background-color: #8f8383;
}
.heading{
    color: rgb(82, 205, 164);
}
body{
    font-family: 'Poppins', sans-serif;
}
mark{
    background-color:rgb(82, 205, 164) ;
}